* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: rgba(0, 0, 0, 0.766);
    font-family: Arial, Helvetica, sans-serif;
}

#display {
    width: 100%;
    height: 100vh;
}

.terminalWrapper {
    transition: all ease-in-out .2s;
    transition-property: opacity, transform;
    position: absolute;
    z-index: 9;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.779);
    background-color: black;
    top: 40px;
    left: 300px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.terminalWrapper * {
    transition: all ease-in-out .2s;
    transition-property: opacity, transform;
}

.terminalHidden {
    opacity: 0;
    transform: scale(0.9);
}

.terminalHeader {
    width:100%;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terminalHeader p {
    padding-left: 10px;
    padding-right: 10px;
}

#closeTerminal {
    font-weight: 700;
    cursor: pointer;
}

#terminal {
    transition: all ease-in-out .2s;
    overflow: auto;
    resize: both;
    width: 100%;
    height: 100%;
    width: 900px;
    height: 600px;
    box-shadow: 0px 0px 2px gray;
}

.sidebar {
    transition: all ease-in-out .2s;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.821);
    box-shadow: 3px 3px 12px rgba(29, 29, 29, 0.531);
    padding-top: 10px;
}

.sidebar:hover {
    left: 0px;
}

.sidebarOpener {
    background-color: transparent;
    width: 150px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 300px;
}

.sidebar h2 {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    color: #2c74d2cc;
}

.menu {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu p {
    width: calc(100% - 30px);
    transition: all ease-in-out .2s;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: large;
}

.menu p:hover {
    background-color: rgba(128, 128, 128, 0.414);
    cursor: pointer;
}

#overlay {
    padding: 10px;
    font-family:monospace;
    color:white;
    font-weight: bolder;
    font-size: large;
    position: fixed;
    top: 0;
    left: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}